:root{
    --primary-color:#D33F49;
    --grey: rgb(194, 194, 194);
    --dark-grey: rgb(105, 105, 105);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
a{
    text-decoration-line: none;
}
.site-title{
    color: var(--primary-color);
}
nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 7px solid var(--primary-color);
    box-shadow: 0px 2px 3px 2px var(--grey);
}
.recipeList{
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, max(300px, 650px - 50vw) ));
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin-top: 1.5rem;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}
.card-title{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.card-body{
    padding: .5rem;
    border: 1px solid var(--grey);
}
.card-img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.card-img img{
    position: relative;
    z-index: 2;
}
.img-fallback{
    position: absolute;
    z-index: 1;
}
.recipe-nutrients{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    margin: .5rem auto;
    max-width: 260px;
    font-weight: 500;
}
.recipe-nutrients-title{
    font-weight: 600;
    color: var(--primary-color);
}
.unit{
    font-size: .8rem;
    color: var(--dark-grey);
}
.recipe-other-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--dark-grey);
}
.recipe-source{
    color: inherit;
}
.recipe-source:hover{
    text-decoration-line: underline;
}
.search-form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}
.search-input{
    border-radius: 2px;
    padding: .2rem;
    border: 1px solid var(--grey);
}
.searchBtn{
    background-color: var(--primary-color);
    color: #fff;
    border: 0;
    padding: 0px 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.home .site-title{
    font-size: 2rem;
}
.home .search-form{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
}
.spinner{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinner 2s linear infinite forwards;
}
.spinner path{
    stroke-width: 1.5px !important;
    stroke-dasharray: 60px;
    stroke-dashoffset: 1px;
    stroke-linecap: round;
    animation: spin 5s linear infinite forwards;
}
@keyframes spin {
    from{
        stroke-dashoffset: 1px;
    }
    to{
        stroke-dashoffset: 360px;
    }
}
@keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

